.arrow-img {
  width: 300px;
}
.danger-text {
  color: #d40000;
  font-size: 50px;
  margin: 0;
  position: relative;
  top: -30px;
}
.stop-icon{
  width: 240px;
  margin: 40px auto 20px;
}
.danger-text2 {
  color: #d40000;
  font-size: 30px;
  margin: 0;
  position: relative;
  top: -30px;
}
.warning-text {
  color: #ffff48;
}
.wave {
  position: absolute;
  bottom: -100px;
  left: 0px;
}
.wave.danger{
  bottom: -50px;
}
.danger-person{
  position: absolute;
  bottom: 0;
}
.arrow-container{
  position: relative;
}
.lamplight{
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  background: #fff;
  animation:shanguang 1s linear 1s infinite alternate both running
}
@keyframes shanguang{
  0%{//start css
    opacity: 1;
  }
  25%{//center css
    opacity: 0;
  }
  50%{//center css
    opacity: 1;
  }
  75%{//center css
    opacity: 0;
  }
  100%{//end css
    opacity: 1;
  }
}
.lamplight-1{
  top: 125px;
  left: 160px;
}
.lamplight-2{
  top: 125px;
  left: 215px;
}
.lamplight-3{
  top: 125px;
  left: 270px;
}
.lamplight-4{
  top: 125px;
  left: 325px;
}
.lamplight-5{
  top: 125px;
  left: 380px;
}
.lamplight-6{
  top: 125px;
  left: 435px;
}
.lamplight-7{
  top: 90px;
  left: 186px;
}
.lamplight-8{
  top: 62px;
  left: 214px;
}
.lamplight-9{
  top: 160px;
  left: 186px;
}
.lamplight-10{
  top: 184px;
  left: 214px;
}

.lamplight-11{
  top: 90px;
  left: 412px;
}
.lamplight-12{
  top: 62px;
  left: 384px;
}
.lamplight-13{
  top: 160px;
  left: 412px;
}
.lamplight-14{
  top: 184px;
  left: 384px;
}

.arrow-img-container{
  text-align: center;
  height: 260px;
  box-sizing: border-box;
  padding-top: 58px;
  img{
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px;
  }
}
.current-wave {
  display: inline-block;
  position: absolute;
  bottom: 240px;
  font-size: 16px;
  left: 16px;
  color: #d40000;
}
.current-wave-warning{
  color: #ffff48;
  bottom: 200px;
}

.danger-box {
  width: 620px;
  position: absolute;
  bottom: 270px;
  .danger-line {
    width: 100%;
    border-top: 3px dashed salmon;
  }
  span {
    background: #ff2f2f;
    color: #fff;
    font-size: 18px;
    padding: 5px 14px;
    position: absolute;
    left: 0;
    top: -36px;
    border-radius: 2px;
  }
}
.waring-box {
  bottom: 220px;
  .danger-line {
    border-top: 3px dashed #ffff48;
  }
  span {
    color: #ffff48;
    background: transparent;
  }
}
.emergency-box {
  height: 1024px;
  position: relative;
  z-index: 1000;
  width: 640px;
  background: #000;
}
.tips {
  color: #fff;
  text-align: right;
  padding-right: 40px;
  .text-1 {
    font-size: 20px;
  }
  .text-2 {
    font-size: 12px;
  }
}
.inverted {
  transform: rotateY(180deg);
}

.emergency-container {
  border: 10px solid #00d900;
  background: rgba(0, 255, 0, 0.2);
  box-sizing: border-box;
  height: 1024px;
  width: 640px;
  overflow: hidden;
  position: relative;
}
.emergency-container-2 {
  border: 10px solid #d40000;
  background: rgba(255, 12, 0, 0.2);
  box-sizing: border-box;
  height: 1024px;
  width: 640px;
  overflow: hidden;
  position: relative;
}
.tx1 {
  font-size: 90px;
}
.tx2 {
  font-size: 50px;
  display: inline-block;
  width: 160px;
  text-align: left;
  img {
    width: 24px;
  }
}
.tx3 {
  font-size: 70px;
  display: inline-block;
  width: 200px;
  text-align: right;
}
.emergency-item {
  margin-top: 20px;
  color: #00d900;
  font-weight: bold;
}